@using DevExtremeAspNetCoreApp1.Models
@model DevExtremeAspNetCoreApp1.Models.HeaderModel
<h2>Home</h2>

<script>
    $(document).ready(function () {
        $("input.input-validation-error").closest(".form-group").addClass("text-danger")
    })
</script>

<form name="f1">
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="form-control">@ViewBag.Text</div>
            </div>
        </div>
        @*<div class="row">
                <div asp-validation-summary="ModelOnly" ></div>
            </div>*@
        <div class="form-group">
            <div class="col-lg-4">
                <span asp-validation-for="Host"></span>
                <input class="form-control" type="text" asp-for="Host" />
            </div>
            <div class="col-lg-4">
                <span asp-validation-for="Accept"></span>
                <input class="form-control" type="text" asp-for="Accept" />
            </div>
            <div class="col-lg-4">
                <span asp-validation-for="UserAgent"></span>
                <input class="form-control" type="text" asp-for="UserAgent" />
            </div>
        </div>
    </div>
    <div style="padding:10px;float:right">
        <button type="submit" class="btn btn-danger">submit</button>
    </div>
</form>
